<!doctype html>

<html lang="en">
 <head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">
   <script type="text/h5x" browser="false" server="false" dependencies="" cli='{"generate":["g","Generate example HTML5 file with h5x support","string"],"arguments":["a","A list of arguments to pass on to the html executable","string"]}'>
    console.log("Yup, CLI is working fine!")
   </script>

   <script type="text/javascript">
   </script>
 </head>

 <body>
 </body>
</html>
